@media screen and (max-width:1400px) {
    .card7 {
        display: none;
    }

    .card {
        width: 16%;
    }
}

@media screen and (max-width:1200px) {
    .card6 {
        display: none;
    }

    .card {
        width: 19.5%;
    }
}

@media screen and (max-width:950px) {
    .left {
        width: 0%;
        overflow: hidden;
    }

    .right {
        width: 98%;
        margin: 10px 10px 10px 3%;
    }

    #collapse {
        left: 2%;
        display:block;
    }
}


@media screen and (max-width:680px){
    .right{
        width: 99%;
    }

    .left{
        position: absolute;
        left: 10px;
        overflow: visible;
        width: 70%;
        z-index: 50;
    }
}


@media screen and (max-width:650px) {

    .left{
        background-color: #242424;
    }
    .card5 {
        display: none;
    }

    .card {
        width: 24.5%;
    }

    
}

@media screen and (max-width:550px) {
    .card4 {
        display: none;
    }

    .card {
        width: 33.3%;
    }
}

@media screen and (max-width:450px) {
    .card3 {
        display: none;
    }

    .card {
        width: 45%;
    }
}

@media screen and (max-width: 400px){

    .card-head >h4{
        font-size: 20px;
    }

    .right-nav-head button {
        width: 80px;
        padding: 8px;
    }

    .nav-lib-card h5{
        font-size: 14px;
    }

    .nav-lib-card p{
        font-size: 10px;
    }

    .nav-lib-card button{
        width: 99%;
        font-size: 11px;
    }

    .card-podcasts{
        height: 180px;
    }

    .nav-head ul li{
        font-size: 16px;
    }
}
